@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    --background: #000;
    --text: #fff;
    --background-white: #fff;
    --blue: rgb(29, 155, 240);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.container-logo {
    width: 100%;
    max-width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}

.logo {
    width: 100%;
    height: 256.75px;
}